.title{
    background: black;
    width: 100%;
    height: 70vh;
    font-size: 40px;
    color: green;
}

.display{
    width: 100%;
    // display: inline-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}